<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.api.infrastructure.mybatis.mappers.ProductMapper">
    <insert id="save">
        INSERT INTO products
        VALUES (#{id}, #{name}, #{description}, #{price},  #{rating})
    </insert>

    <select id="findById" resultMap="records.product">
        select id, name, description, price, rating
        FROM products P
        WHERE P.id = #{id}
    </select>

    <!--<select id="ofId" resultMap="records.user">-->
        <!--SELECT-->
        <!--<include refid="columns.user"/>-->
        <!--FROM users U-->
        <!--WHERE U.id = #{id}-->
    <!--</select>-->
    <!--<select id="findByUserName" resultMap="records.user">-->
        <!--SELECT-->
        <!--<include refid="columns.user"/>-->
        <!--FROM users U-->
        <!--WHERE U.name = #{userName}-->
    <!--</select>-->
</mapper>
